.about_me_text {
    text-align: justify;
    margin: auto;
    font-size: var(--font-size);
}

.flex_container {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.profiles {
    border-radius: var(--def-border-rad);
    width: 160px;
    height: 160px;
    padding: 10px;
}

.profile_container {
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: center;
    justify-content: center;
}

#profile p {
    font-size: smaller;
    margin-top: 0;
}

.about_me_text a {
    text-decoration: underline;
}

.about_me_text span {
    background: var(--highlight);
    color: var(--font-negative);
}