<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>$PAGE_TITLE</title>
	<meta name="description" content="$PAGE_DESCRIPTION">

	<meta property="og:type" content="article" />
	<meta property="og:title" content="$PAGE_TITLE" />
	<meta property="og:description" content="$PAGE_DESCRIPTION" />
	<meta property="og:image" content="$PAGE_IMAGE" />
	<meta property="og:url" content="$PAGE_URL" />

	<meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="google-site-verification" content="GIrYVfjuzVucdatOrkxcelU7GSGW_6qCx_ldLGu8H3k" />
	<link rel="canonical" href="$CANONICAL_URL" />
	<% preact.headEnd %>
</head>

<body>
	<% preact.bodyEnd %>
</body>

</html>