@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins&display=swap');

:root {
  --primary: #645a8f;
  --highlight: rgba(0, 0, 0, 0);
  --background: #212121;
  --footer: #272727;
  --font: #ffffff;
  --font-negative: #ffffff;
  --def-border-rad: 0px;
  --font-size: 20px;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  background: var(--background);
  color: var(--font);
  font-family: 'Open Sans', sans-serif;
  max-width: 45%;
  margin: auto;
  padding: 50px 30px 25px 30px;
}

@media screen and (max-width: 800px) {
  body {
    max-width: 100%;
  }

  :root {
    --font-size: larger;
  }
}