@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins&display=swap');

:root {
  --def-border-rad: 0px;
  --font-size: 20px;
  --primary: #635c8a;
  --highlight: #00000000;
}

/* :root {
  --background: hsl(0, 0%, 85%);
  --page-background: hsl(0, 0%, 95%);
  --footer: #2e2e2e;
  --font: #303030;
  --font-negative: #f7f7f7;
  --invert-amount: 20%;
} */

:root {
  --background: hsl(0, 0%, 10%);
  --page-background: hsl(0, 0%, 15%);
  --footer: #272727;
  --font: #e7e7e7;
  --font-negative: #f7f7f7;
  --invert-amount: 100%;
}

#contents{
  background-color: var(--page-background);
  margin-top: 8px;
  padding: 16px 32px 16px 32px;
}

html {
  overflow-y: scroll;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  padding: 8px 8px;
  background: var(--background);
  color: var(--font);
  font-family: 'Open Sans', sans-serif;
  max-width: 45%;
  margin: auto;
}

@media screen and (max-width: 800px) {
  body {
    max-width: 100%;
  }

  :root {
    --font-size: larger;
  }
}